
@{
    ViewData["Title"] = "Details";
}
@using StudentHousing.Models
@model ApartmentModel

<div class="container body-content">
    <div class="details-block">
        <div class="top-part">
            <img id="details-picture" src="~/images/apartment_img.png" />
            <div class="info-panel">
                <h3>@Model.Name</h3>
                <table>
                    <tr>
                        <td>Name: </td>
                        <td>@Model.Name</td>
                    </tr>
                    <tr>
                        <td>Price per month: </td>
                        <td>$@Model.Price</td>
                    </tr>
                    <tr>
                        <td>Available from: </td>
                        <td>@Model.AvailableFrom.ToString().Split(" ")[0]</td>
                    </tr>
                    <tr>
                        <td>Number of beds: </td>
                        <td>@Model.NumberOfBeds</td>
                    </tr>
                    <tr>
                        <td>Average rating: </td>
                        <td>
                            <div class="star-ratings-sprite" id="@Model.AverageRating">
                                <span style="width:67%" class="star-ratings-sprite-rating" onload="FillStars()"></span>
                                
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Contact Phone: </td>
                        @{
                            var phone = "";
                            if (Model.Phone == null)
                            {
                                phone = "No Contact Phone available...";
                            }
                            else
                            {
                                phone = Model.Phone.ToString();
                            }
                        }
                        <td>@phone</td>

                    </tr>

                </table>

            </div>

        </div>

        <div class="bottom-part">
            <h3>Description</h3>
            <p id="description-par">@Model.Description</p>
        </div>
        <div class="footer-buttons">
            <a class="backtolist" asp-controller="Home"
               asp-action="Index">Back to Home page</a>
            <button id="rent">Rent</button>
        </div>


    </div>

</div>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jqueryui/jquery-ui.js"></script>
@*<script src="~/js/Details.js"></script>*@
@*<script src="~/js/Search.js"></script>*@