@using StudentHousing.Models
@model ApartmentsViewModel

@{
    ViewData["Title"] = "Home Page";

}

<html>
<body style="margin-top:50px">



    <div class="search-bar">
        <div class="search-container">
            @Html.DropDownList("CityDDL", Model.Cities)


            <form id="form-block" caction="/action_page.php">
                <input type="text" placeholder="Search by Apartment Name..." name="searchByName" />
                <input type="date" placeholder="Search by Availability..." name="searchByDate" />
                <select name="searchByBeds">
                    <option value="0">All</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                </select>
                <button type="submit"><i class="fa-search"></i>Search</button>
            </form>
        </div>
    </div>

    <div class="sorting-area">
        <div class="sorting-content">
            <span class="property-name">Name</span>
            <span class="property-name">Available From</span>
            <span class="property-name">Number of beds</span>
            <span class="property-name">
                Sort by price
                <a href="#" class="arrow-sort">
                    <span class="arrow-price glyphicon glyphicon-arrow-down" onclick="PriceFlipOnClick()"></span>
                </a>
            </span>
            <span class="property-name">
                Sort by rating
                <a href="#" class="arrow-sort">
                    <span class="arrow-rating glyphicon glyphicon-arrow-down" onclick="RatingFlipOnClick()"></span>
                </a>
            </span>
        </div>
    </div>



    <div class="star-rating">
        @*<input type="button" value="Input Button" /><img src="~/images/star.png" />*@
        @*<a href="#">
                <span class="glyphicon glyphicon-star-empty" style="font-size: 24px; color: black" onclick="Rate()">
                    <input type="button" width="35" height="35">
                </span>
            </a>*@

        <a href="">
            <span class="glyphicon glyphicon-star-empty" onclick="getRating(1)"></span>
        </a>
        <a href="">
            <span class="glyphicon glyphicon-star-empty" onclick="getRating(2)"></span>
        </a>
        <a href="">
            <span class="glyphicon glyphicon-star-empty" onclick="getRating(3)"></span>
        </a>
        <a href="">
            <span class="glyphicon glyphicon-star-empty" onclick="getRating(4)"></span>
        </a>
        <a href="">
            <span class="glyphicon glyphicon-star-empty" onclick="getRating(5)"></span>
        </a>


    </div>


    <div class="listOfApts">
        @foreach (var apt in Model.Apartments)
        {
            @*<li>@apt.Name</li>*@
            <div class="apartment-box">
                <div class="apartment-content">
                    <span class="apartment-item"><img src="~/images/apartment_img.png" /></span>
                    <span class="apartment-item"><span class="apartment-data">@apt.Name</span></span>
                    <span class="apartment-item"><span class="apartment-data">@apt.AvailableFrom.Date</span></span>
                    <span class="apartment-item"><span class="apartment-data">@apt.NumberOfBeds</span></span>
                    <span class="apartment-item"><span class="apartment-data">@apt.Price</span></span>
                    <span class="apartment-item"><span class="apartment-data">@apt.AverageRating</span></span>
                </div>
            </div>
        }
    </div>


    @*@RenderSection("Scripts", required: false)*@
    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/js/ArrowFlip.js"></script>
    <script src="~/js/GetApartmentsByCity.js"></script>
    <script src="~/js/Rating.js"></script>
</body>
</html>
